* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 25px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  header h1 {
    font-size: 3em;
  }
  
  header p {
    font-size: 1.2em;
  }
  
  main {
    padding: 20px;
  }
  
  .project {
    background-color: #f4f4f4;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .project h2 {
    color: #333;
    font-size: 35px;
  }
  
  .project p {
    color: #666;
    font-size:30px;
  }
  
  /* Styling for project images */
  .project-image {
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .project-image:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  
  /* Fade-in effect */
  .project.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .project a {
    font-size: 30px;
  }

  .personal-contact {
    text-align: center;
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Menyusun ikon di tengah horizontal */
    gap: 30px; /* Memberi jarak antar ikon */
  }
  
  .social-icons a {
    font-size: 3em; /* Ukuran ikon */
    color: #555;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
  }
  
  .social-icons a:hover {
    color: #4CAF50; /* Ganti warna saat hover */
    transform: scale(1.2); /* Efek zoom saat hover */
  }

  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
      line-height: 1.4;
    }
  
    header {
      padding: 15px 0;
    }
  
    header h1 {
      font-size: 2em;
    }
  
    main {
      padding: 10px;
    }
  
    .project {
      margin: 15px 0;
      padding: 15px;
    }
  
    .project h2 {
      font-size: 1.5em;
    }
  
    .project p {
      font-size: 1em;
    }
  
    .project-image {
      width: 100%;
      height: auto;
      max-width: 100%; /* Memastikan gambar tidak lebih besar dari layar */
    }
  
    .social-icons {
      flex-direction: column; /* Tumpuk ikon secara vertikal */
      gap: 15px; /* Kurangi jarak antar ikon */
    }
  
    .social-icons a {
      font-size: 2em; /* Sesuaikan ukuran ikon untuk layar kecil */
    }
  }
  
